@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #d3d5d7;
  padding: 4rem;
  margin: 0;
}
#root {
  background: #f3f4f5;
  height: calc(100vh - 8rem);
  overflow: auto;
  border-radius: 6px;
}