@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #d3d5d7;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.product--board {
  width: calc(100vw - 8rem);
  height: calc(100vh - 8rem);
  overflow: auto;
  border-radius: 6px;
  margin-inline: auto;
}

@media (max-width: 650px) {
.product--board {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  top: 0
}
}